html
{
    background:#2f2f2f;
}
.keys
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.key
{
    background:#1f1f1f;
    border:4px solid black;
    color:#fac863;
    text-align: center;
    width: 100px;
    padding: 1rem 0.5rem;
    transition: all 0.05s;
}

.pressed
{
    transform:scale(1.1);
    border-color:#fac863;
    box-shadow:0 0 10px #fac863;
}

kbd
{
    display: block;
    font-size:20px;
}